<div class="create-form">
    <app-form-titles headerTitle="Create your task " subTitle="Task Manager form" />
    <app-form-content-group>
      <app-form-content 
      label="Task title"
      [value]="task?.title"
      placeholder="Title"
      (ngModel)="formData.title.value = $event"
      /> 

      <app-form-content 
      [type]="formEnum.select"
      label="Piority"
      [value]="task?.priority"
      (ngModel)="formData.priority.value = $event"
      [selectOptions]="selectOptions"
      []
      /> 

      <app-form-content 
      label="Due Date"
      [type]='formEnum.date'
      [value]="task?.date"
      placeholder="Completion date"
      (ngModel)="formData.date.value = $event"
      /> 

      <app-form-content 
      [type]="formEnum.select"
      label="Status"
      [value]="task?.status"
      (ngModel)="formData.status.value = $event"
      [selectOptions]="selectOptionsStatus"
      /> 

    </app-form-content-group>

    <app-form-content 
    [type]="formEnum.textarea"
    label="Task description"
    [value]="task?.description"
    placeholder="Write a short brief of your task"
    [maxValue]="200"
    [minValue]="200"
    (ngModel)="formData.description.value = $event"
    /> 

    <ion-button (click)="submit()" [disabled]="isLoading">
      @if (isLoading) {
        <ion-spinner  name="crescent" ></ion-spinner>
      } 
      <ion-label> Continue </ion-label>
    </ion-button>

</div>