<ion-content [fullscreen]="true">
  <app-page-content>
    <div class="tasks-grid">

      <app-task-header
        [filters]="filters"
        [activeFilter]="activeFilter"
        (setFilter)="setFilter($event)"
        (setPriority)="setPriority($event)"
        (openModal)="openModal()"
        [priorityFiltering]="priorityFiltering"
      />

      <app-task-lists
        [filteredTasks]="(filteredTasks$ | async) ?? []"
        (editTask)="editTask($event)"
        (deleteTask)="deleteTask($event)"
      />

    </div>
  </app-page-content>
</ion-content>