@switch (type) { 
   @case ('TEXTAREA') {
<div class="form-elem">
  @if (label) {
    <ion-label> {{ label }} </ion-label>
  }
  <ion-textarea
    [disabled]="disable"
    [placeholder]="placeholder"
    auto-grow="true"
    fill="outline"
    cols="12"
    rows="8"
    [value]="value"
    [maxlength]="maxValue"
    [minlength]="minValue"
    #formtextarea
    (ionInput)="ngModelMethod(formtextarea.value)"
  ></ion-textarea>
</div>
}
@case ('DATE') {
  
    <div class="form-elem">
      @if (label) {
        <ion-label> {{ label }} </ion-label>
      }
      <ion-input
        type="date"
        class="ion-padding"
        fill="outline"
        #forminput
        [disabled]="disable"
        [placeholder]="placeholder"
        [value]="value"
        (ionInput)="ngModelMethod(forminput.value)"
      ></ion-input>
    </div>
    
}
@case ('SELECT') {
<div class="form-elem">
  @if (label) {
    <ion-label> {{ label }} </ion-label>
  }
  <ion-select
    fill="outline"
    [placeholder]="placeholder"
    [disabled]="disable"
    [value]="value"
    #formselect
    (ionChange)="ngModelMethod(formselect.value)"
  >
    @for (option of selectOptions; track $index) {
    <ion-select-option [value]="option?.id">
      {{ option?.value }}
    </ion-select-option>
    }
  </ion-select>
</div>
}    @default {
<div class="form-elem">
  @if (label) {
    <ion-label> {{ label }} </ion-label>
  }
  <ion-input
    type="text"
    class="ion-padding"
    fill="outline"
    #forminput
    [disabled]="disable"
    [placeholder]="placeholder"
    [value]="value"
    (ionInput)="ngModelMethod(forminput.value)"
  ></ion-input>
</div>
} }
