<app-container>
  <div class="task-card">

    
    <ion-label> Due
      {{ card.date }}
    </ion-label>

    <div class="task-card__header">
      <ion-label color="medium" class="task-card__ticket-id">TKT-{{ card.id }}</ion-label>
      <span class="task-card__priority" [ngClass]="'task-card__priority--' + card.priority">
        {{ card.priority | titlecase }}
      </span>
    </div>
  
    <div class="task-card__body">
      <h3 class="task-card__title">{{ card.title | uppercase }}</h3>
      <p class="task-card__description">{{ card.description }}</p>
    </div>
  
    <div class="task-card__footer">
      <div class="task-card__comments">
        <ion-icon name="chatbox-outline"></ion-icon>
        <span class="task-card__comment-count">7</span>

        
      <ion-label class="badge" [ngClass]="getStatusClass(card.status)">
        {{ card.status }}
      </ion-label>
      </div>
    </div>
  
  </div>
</app-container>