:host {
    display: block;
    width: 100%;
    max-width: 320px;
    min-width: 320px;
  }
  
  .task-card {
    padding: 10px;
    display: flex;
    flex-direction: column;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &__ticket-id {
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
    }

    &__priority {
      padding: 5px;
      background: var(--ion-color-success);
      color: var(--color-text-primary);
      border-radius: 20%;
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 10px 0 10px 0
    }
  
    &__title {
      font-size: 16px;
      font-weight: 500;
      color: var(--color-text-primary);
      margin: 0;
    }
  
    &__description {
      font-weight: 400;
      color:  var(--ion-color-medium);
      margin-top: 10px;
      overflow-wrap: break-word;
      word-break: break-word;
      white-space: pre-line;
    }
  
    &__footer {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      width: 100%
    }
  
    &__comments {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #9a9a9a;
    }
  
    &__comment-icon {
      width: 15px;
      height: 15px;
    }
  
    &__comment-count {
      font-size: 12px;
      font-weight: 600;
      color: #6b6b6b;
    }

  

    }
  